{% extends 'layout.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'receitas.css' %}">
    <title>Receitas</title>
</head>
<body>
    {% block content %}
    <main id="igredientes">
        <h2>Coloque seus igredientes</h2>
        {% if msg %}
        <p>{{ msg }}</p>
        {% endif %}        
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Pesquisar</button>
        </form>
    </main>
    {% endblock %}  
    
</body>
</html>